/Debug/
/.settings/
/K22BasicIOTestProject JLink Debug.launch
/K22BasicIOTestProject JLink Release.launch
/uCOSDemo1K22 JLink Debug.launch
/uCOSDemo1K22 JLink Release.launch
/SeniorProject JLink Debug.launch
/SeniorProject JLink Release.launch
